@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Montserrat:ital,wght@0,200;1,200&family=Raleway:ital,wght@0,200;1,200&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #000;
    color: white;
}


.github{
    color: unset;
    text-decoration: none;
}

